/*<!--I used this for help with designing admin interface: https://www.youtube.com/watch?v=CqzHZP252FM -->*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&family=Roboto+Condensed&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Serif Khojki', serif;
    font-family: 'Roboto Condensed', sans-serif;
    
    
}

body{
    overflow:hidden;
}
.header{
    line-height: 72px;
    padding-left: 25px;
    text-decoration: none;
    

}



a,a:hover{
    text-decoration: none!important;
}



.user-profile{

    float:right;
    padding-right:30px;
    padding-top:11px;
    
}


.side-nav{
    width: 15%;
    height:100%;
    position: fixed;
    padding-top: 4%;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.907);
    z-index: 20;
    

}

ul li{
    
    list-style: none;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
    
}

ul li a {
    color: white;
    font-weight: bolder;
}



ul li:hover{
    
    background-color:gray; /*choose a lighter colour. u pa war byen*/
    
    text-decoration: none;
}

ul li a:hover{
    color:beige;

}

.content{
    margin-left: 20%;
    padding-top: 5%;
}

