
/*code for stars (rate) are from: https://codepen.io/hesguru/pen/BaybqXv */

*{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
   
   
}


#app {
    flex: 1; /* Allow the main content to grow and fill available space */
}

.nav-logo{
    position: relative;
    left:-80%;
}

.global-admin-nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-right: 20px;
    
}

.global-admin-nav a:hover{
    text-decoration: none;
    color: black;
}


.nav_right{
    display: flex;
    gap:20px;
    padding-top: 10px;
}

.nav_right i{
    padding-left: 130px;
}


#navbarDropdown{
    font-size: 18px;
}


.admin-panel-button button{
    height:35px;
    width:110px;
    
   
}

.admin-panel-button a{
    text-decoration:none; 
    color:white;
   

}

.admin-panel-button a:hover{
    text-decoration:none; 
    color:white;

}
.footer{
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
    
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:black;
    
}

.footer a:hover{
    text-decoration: none;
    color: black;
}
.footer-left{
    position:relative;
    left: 5%;
    width:90px;
    height:100px;
}

.footer-middle{
    position:relative;
    
    left: 40%;
    bottom:50%;
    color:black;
    font-size: 30px;
    font-weight: bold;
}
a:link {
    text-decoration: none;
   
  }

  .socialmedia a img{
    height:60px; 
    width:60px;
    position:relative;
    left: 80%;
    top:-70px;
    
    
  }
  p{
    font-size: 30px;
    
  }


  *{
    margin: 0;
    padding: 0;
}

/*gym individual*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*DOES NOT PREVENT SCROLL
.no_scroll::before{
    display: block;  
}*/

#ratingForm{
    width:25%;
}

/*trying responsive layout*/
/*
.wrapper{
  display: flex;  */
  /*flex-flow: row wrap;*/
  /*flex-direction: column;
  
  min-height: 100vh;
  
 
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }*/

  

.gym_info{
 padding: 20px 20px 20px 20px;
}
.banner{
    position:relative;
    padding-bottom: 10px;
}

.gym_logo{
    position:absolute;
    top:45%;
    left:50%;
   /* display: block;
    margin-left:auto;
    margin-right:auto;*/

}


.gym_name{
    font-size: 100px;
    padding-bottom: 0%;
    font-weight: bolder;
    margin-bottom: 0;
    text-transform: capitalize;

}

.avg_rating{
   
font-size: 50px;
top:100%;
color: #e3b304;
bottom:0;
transform: translateY(-100%); /*moves it to the top*/


}

#hyperlink{
    font-size: 20px;
    margin-left: 10px;
}
#bookmark{
    width:10%;
    height:10%;
    margin-left:90%;
    margin-top:-10%;
    font-size: 20px;
    

}

.sub-heading{
    font-size: 45px;
   /* font-style: italic;*/
    font-weight: 750;
}

.location_line p{
    margin-top: 20px ;
    font-size: 25px;
    text-transform: capitalize;
    padding-left: 10px;

}

.location_line{
    display:flex;
    align-items: center;
    margin-top: -60px;
    margin-bottom: 40px;
   
}



.description{
    width: 85%;
    justify-content: center;
    text-align: center;
    padding-left: 15%;
    padding-bottom: 50px;

}

/*location and img starts at the same height. location is on left, img is on right. screen is split in middle at 50%*/

.location_img{
    display:flex;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
}

.location_hours{
    width:50%;
    padding-left: 5%;
}

.extra_img{
    /*text-align: right;*/
    margin-left: auto;
  
}




.location{
    
    list-style-type: circle;
    text-transform: capitalize;
    font-size: 30px;
}


.memberships h4{
   text-align: center;
   padding-top: 20px;
}

.memberships{
    padding-left: 30%;
    padding-right: 20%;
    padding-bottom: 30px;
}

.membership_name{
    font-size:35px;
    font-weight: 600px;
    text-transform: capitalize;

}

.membership_line{
    border-top: 2px dotted green;
}

.price{
    font-weight: bold;
    color:red;
    font-size: 32px;
}

.item_description{
    font-size: 20px;
}

.classes_equipments{
    display:flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

.classes{
    width:50%;
    padding-left: 5%;
    padding: 10px 10px 10px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.equipments{
    /*text-align: right;*/
    margin-left: auto;
   /* padding-right: 20%;*/
    margin-left:20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}


.view{
    font-size:35px;
    font-weight: 545;
    
}

.learn_more{
    text-decoration: none;
    color:whitesmoke;
    font-size: 18px;
    
}

.learn_more:hover{
    color:whitesmoke;
    text-decoration: none;;
}

.learn_more_button_2{
    /*margin-left: 100px;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.learn_more_button{
    /*margin-left: 93px;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}

.learn_more_button_both{
   /* margin-left: 150px;*/
    
    
}

.contact_split{
    display:flex;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-top: 20px;
}

.contact_form{
    width:30%;
    padding-left: 5%;
    text-align: center;
    margin-bottom: 10px;
   

}


.contact_info{
    /*text-align: right;*/
    margin-left: auto;
    padding-right: 50%;
    margin-bottom: 20px;
  
}

.contact_info a{
    text-decoration: none;
    color:white;
    
}

.contact_info a:hover{
    text-decoration: none;
    color:white;
}

.class_info_1 li{
    display: flex;
    align-items: center;
}



.class_info_1{
    background-color: black;
    padding: 30px 30px 30px 30px;
    
    color:white;
    
    
}

#contact{
    padding-left: 20%;
    font-style: normal;
}

.contact_form input {
    border:none;
    border-bottom: 1px solid rgb(194, 192, 192);
    margin-bottom: 10px;
    padding: 6px;
}

.contact_form textarea {
    border:none;
    border-bottom: 1px solid  rgb(194, 192, 192);
    margin-bottom: 10px;
    padding: 6px;
}

.contact_info li{
    list-style-type: none;
    font-size: 35px;
    
}
/*
.contact_form input:hover{
    color:#ccc;
}*/



.subscribe{
    width:75%;
    text-align: center;
    padding-bottom: 20px;
    
}  

.subscribe input{
    margin-left: 15%;
    margin-right: 15%;
}


.subscribe button{
    margin-left:25%;
}
 
.subscribe button:hover{
    color:white;
}

.join{
    font-size: 25px;
    margin-left: 25%;
}

.review_line{
    border-top: 2px dotted green;
}

.review_write{
    font-size: 25px;
    font-weight: 549;
    padding-bottom: 10px;
    text-decoration: underline;

    /*white-space: nowrap;*/

}

.write_view_review{
    display:flex;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 549;
}

.review_write_1{
    width:50%;

}

.reviews{
    list-style-type: none;
    font-size: 15px;
   
}

.review_comment{
    font-size: 25px;
}

.rating_divide{
    border-top: 2px dotted green; 
}
.ratings_by_customers{
color: #e3b304;
}

/*GYM ALL DESIGN*/

.form-sort{
    display: flex;
  
    
}

.sort_filter{
    height: 25px;
    margin-right: 5%;
    padding-left: 30px;
}

.sort_filter select{
    height: 32px;
    border-radius: 5px;
   /* margin-bottom: 10px;*/
}

.sort_filter button{
    /*margin-top: 10px;*/
    margin-left: 5px;
}

.gymAll{
    padding:20px 20px 20px 20px;
}

.gym_cards{
    padding-bottom: 30px;
    padding:30px 30px 30px 30px;
    
   
}

.gym_box_info{
    
    display:flex;
    justify-content: space-between;
    border: 5px solid #e6e6e6c0;
    padding: 50px;
    background-color: #E6E6E6;
    color:#2A2A2A;
    text-transform: capitalize;
  
}
.gym_box_info h1{
    font-size: 50px;
    font-weight: bold;
    
}

.gym_box_info h2{
    font-size:20px;
}

.gym_box_info a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    
}

.gym_info_left{
  text-align: center;
  /*margin-right: 55%;*/
  display: inline;
  /*display: flex;*/
  align-items: center;
   

}


.gym_info_left h1{
    margin-right: 20px;
}
    
/*
.gym_box_info img{
    padding:10px 10px 10px 10px;
}*/
    
.gym_box_info button{
    padding: 20px 50px 20px 50px;
   
}

/*pagination design*/
.pag_nv{
    
    text-align: center;
}

/*CLASSES AND OFFERINGS*/
.classes_offerings{
    padding:20px 20px 20px 20px;
   
    

}

.classes_offerings h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
    
}

.classes_offerings a{
    text-decoration: none;
    color: white;
}

.card-header{
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
   
}

.classes_offerings h6{
    font-size: 20px;
}

.classes_offerings p{
    font-size: 19px;
}



.review_line{
    border-top: 2px dotted green;
}


/*SEARCH BOX*/

#search{
    margin-left:70%;
    padding-bottom: 20px;
    width: 25%;
}

.input-box{
    position: relative;
}
.input-box i{
    position: absolute;
    margin-left:22%;
    top:17px;
    transform: translate(0, -50%);
    
}

.input-box .form-control{
    background-color: rgba(223, 223, 223, 0.121);
    border-color:black;
}

.input-box .form-control:focus{
    box-shadow: inset;
}

/*CLASS SHOW DESIGN*/
.class_show{
    padding:20px 20px 20px 20px;
}

.class_show h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
    text-transform: capitalize;
    
}

.class_show h2{
    font-size: 30px;
    color: rgb(74, 74, 74);
}

.class_show p{
    margin-left: 10px;
    font-size: 20px;
}

.equipments{
    padding:20px 20px 20px 20px;
}

.equipments h1{
    padding-bottom: 30px;
}

/*GLOBAL ADMIN PANEL*/
.admin-access{
    padding: 20px 20px 20px 20px;
}

.admin-access h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
}

.admin-access th{
    background-color: rgba(128, 128, 128, 0.836);
    color:black;
    font-size: 25px;
    text-align: center;
}

.admin-access tbody{
    font-size: 20px;
    text-align: center;
}

.approveRating{
    padding: 20px 20px 20px 20px;
}

.approveRating th{
    background-color: rgba(128, 128, 128, 0.836);
    color:black;
    font-size: 25px;
    text-align: center;
}

.approveRating tbody{
    font-size: 20px;
    text-align: center;
}

.global_admin_gyms{
    padding: 20px 20px 20px 20px;
}


.global_admin_gyms a{
    text-decoration: none;
    color: white;
}

.global_admin_gyms h1{
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 30px;
    
}

.global_admin_gyms h6{
    font-size: 20px;
}

.global_admin_gyms p{
    font-size: 19px;
}

.new-ratings-message{
    padding-right: 100px;
    padding-left: 100px;
    
}

.new-ratings-message p{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

/*About us page*/
.about-us{
    padding: 50px 50px 50px 50px;
}

/*code to centre text over image:https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text*/
.about-us h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bolder;
  color:white;
  
}

.about-us h2{
  font-size: 50px;
  font-weight: bolder;    
  text-align: center;
  padding-bottom: 35px;

}

.about-us p{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

.about-us .below{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 0px;
    color:red;

}

/*new method to split screen for gym cards and map. from *I used this for help with splitting the screen in two. from https://www.w3schools.com/howto/howto_css_split_screen.asp */*/
.split {
    height: 100%;
    width: 50%;
    position: fixed; 
    z-index: 1;
    padding-top: 20px; 
  }

  
  .left {
    left: 0;
    overflow-y: auto; /*allows vertical scrolling if content overflows. browser adds scroll bar if needed to see overflowed content*/
    box-sizing: border-box; /*includes padding and border in elements total width and height. */
    width: 50%;
    
  }
  
  .right {
    right: 0;
    overflow-y: auto;
    box-sizing: border-box;
    width: 50%;
    
  }

  .gym_maps{
    display: flex;
    height: 100%;
  }
  
  /*
  .gymss{
    flex:1;
  }*/

  .maps{
    height:100%;
    
  }

 

/*gymAll and maps. split screen*//*currently looks good only on screen size 80%*/
/*.gym_maps{
    display:flex;
    height:100%;
    align-items: flex-start;
    /*padding-bottom: 20px;
    padding-top: 20px;*/
/*}*/
/*

.gymss{
    
   width: 50%;*/
  /* width: calc(50% -36px);*/
   /*flex:1;
   align-items: flex-start;
   box-sizing: border-box;
   
}

.maps{
    flex:1;
    margin-top: 72px;
    margin-left: auto;*/
    /*width: calc(50% -36px);*/
    /*text-align: right;*/
   /* width: 50%;
    box-sizing: border-box;
   
  
}*/

/*gymALL split screen*/ /*map floats around eg when I search and it comes with only one gym result*/

/*
.gym_maps{
    display:flex;
    align-items: flex-start;
    height:100%;
    padding-top: 20px;
}

.gymss{
    width:50%;
    box-sizing: border-box;
   
}

.maps{
    
    margin-left: auto;*/
   /* transform: translateX(50%);*/
  /* margin-top: -109%;
   margin-right:-83%;
  
}*/

/*user profile*/
.profile{
    padding:20px 20px 20px 20px;
    padding-left: 50px;
}

.profile h1{
    font-weight: bold;
    font-size: 45px;
}

.profile p{
    font-size: 35px;
    
    
}

.profile a{
    text-decoration: none;
    font-size: 30px;
}
/*RESPONSIVE*/
