/*I used this for help with splitting the screen in two: https://www.w3schools.com/howto/howto_css_split_screen.asp */
/*CHECK APP.CSS FOR ANOTHER WAY TO SPLIT SCREEN. DID IT FOR INDIVIDUAL GYM PG*//*
.split {
    height: 100%;
    width: 50%;
    position:absolute; 
    z-index: 1;
    padding-top: 5%;
    overflow: auto;
   
  }*/

  /*control left side*//*
  .left{
    left:0;
    padding-left: 10px;
    overflow-y: auto;
    position: fixed;
  }*/

    /* Control the right side *//*
.right {
    right: 0;
    padding-right: 20px;
    overflow-y: auto;
    position: fixed;
    
 } */

 .bannerlogo_instructions{
  display:flex;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
}

.bannerlogo{
  width:50%;
  padding-left: 5%;
}

.instructions{
  /*text-align: right;*/
  margin-left: auto;

}
 
.right .container{
    background-color: #E6E6E6;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
    
}


.heading{
    color:#4e4d4d;
    font-size: 40px;
}


p{
    font-size:20px;
}

.banner{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.logo{
    display: flex;
    margin:0 auto;
    position: relative;
    top: -10%; 
    height: 160px;
    width: 160px;
  }

  button{
    background-color: #2A2A2A;
    color: white;
    position:absolute;
   
    /*bottom: 25%;*/
    width: 250px;
    height: 62px;
    font-size: 30px;
    
    
  }

  /*
  .gympic{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0%;
    
    
  }*/



  .container{
    position: relative;
    font-size: large;
    padding-top: 20px 20px 20px 20px;
    
    
  }

 

  .admin-first{
    padding: 50px 20px 20px 50px;
    width: 80%;
  }

  
  .admin-first-select{
    right: 40%;
    
  }
  
  .h1-admin-first{
    font-weight: bolder;
    font-size: 42px;
  }
  
  .h2-admin-first{
    font-size: 30px;

  }

  
  
 
  .add-gym .mb{
    width: 60%;
    font-size: 20px;
    padding-bottom: 15px;
    
  }

  

  .add-gym input{
    height:50px;
  }

  .add-gym .form-control, .add-gym select{
    border:0.1px solid black;
  }

  


  .add-gym select{
    border-radius: 5px; 
    width:100%; 
    height: 50px;
  }

  .add-gym h1{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 50px;

  }

  .add-gym label{
   font-size: 25px;
   font-weight: 300;
  }

  .add-gym  button{
    margin-top: 20px;
    
    
  }

  .add-gym a{
    color:white;
  }

  .add-gym a:hover {
    color:white;

  }

 .add-gym .info{
  margin-left: -240px;

 }
  /*easier method to split in half*/

  .register-info{
    display:flex;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
}

.register{
    width:75%;
    padding-left: 5%;
}

.info{
    /*text-align: right;*/
    
  
  
}

.add-gym .icon{
  padding:5px 5px 5px 5px;
  
}

